/* unvisited link */
a:link {
  color: #6ba56d;
}

/* visited link */
a:visited {
  color: #415f46;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  padding-top: 2vmin;
  pointer-events: none;
}

.App-header {
  background-color: #D7FFF1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #285943;
}

.App-link {
  color: #AAFCB8;
}

.contact-table {
  border: 2px solid #8CD790;
  width: 800px;
  height: 200px;
}

.column-text {
  display:inline-block;
  align-items: center;
  margin-left: 20vmin;
  margin-right: 20vmin;
}
  
.th {
  border: 2px solid #8CD790;
}
  
td {
  text-align: center;
  border-bottom: 1px solid #8CD790;
  border-top: 1px solid #8CD790;
  padding: 20px;
}

.tab-list {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.tab-list-item {
  background-color: #77AF9C;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #8CD790;
  border: solid #285943;
  border-width: 1px 1px 0 1px;
}

.image-tab-list {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 0;
}

.image-tab-list-item {
  max-width: 16vmax;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 1rem 1rem;
  transition: transform .7s; /* Animation */
}

.image-tab-list-active {
  transition: transform .7s; /* Animation */
  transform: scale(1.4);
}

.image-tab-image {
  height: calc(10vmin);
  pointer-events: none;
}